@font-face {
  font-family: LilitaOne;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/LilitaOne-Regular.ttf);
}

html {
  --g-row: calc(10 / 16 * 1rem);
  --g-gutter: calc(25 / 16 * 1rem);
}

header {
  padding-top: calc(var(--g-gutter) * 1.25);
  position: relative;
  z-index: 100;
  padding-left: var(--g-gutter);
  padding-right: var(--g-gutter);
}

body {
  display: block;
}

main {
  display: block;
}

.main {
  display: grid;
  gap: var(--g-gutter);
  grid-template-columns: repeat(var(--num-cols, 1), 1fr);
}

.grid-item {
  grid-column: var(--col-start, auto) / var(--col-end, auto);
  grid-row: var(--row-start, auto) / var(--row-end, auto);
}

@media (min-width: 38.75em) {
  .main {
    --num-cols: 2;
  }
}

@media (min-width: 65em) {
  .main {
    --num-cols: 5;
  }
  .header-logo {
    --col-end: span 2;
  }
  .navbar {
    --col-end: span 3;
  }
  .welcome {
    --col-end: span 5;
  }

  .works {
    --rows: 15;
    --margin-top-rows: 0;
  }
}

.header-logo {
  font-size: 7rem;
  line-height: 6rem;
  font-family: LilitaOne;
}

.navbar {
  font-family: LilitaOne;
  text-transform: uppercase;
}

.navbar-group {
  display: flex;
  justify-content: flex-end;
}

.navbar-group > * {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(1, 3, 37);
  padding: 0 1.3rem 1.3rem;
}

.navbar-group > *:hover {
  cursor: pointer;
}

.welcome {
  padding: 5rem 10rem;
  font-family: LilitaOne;
  color: rgb(1, 3, 37);
  font-size: 4rem;
  line-height: 1.5em;
}

.works {
  grid-template-rows: repeat(
    var(--rows, 24),
    minmax(calc(78 / 16 * 1rem), max-content)
  );
  margin: calc(var(--g-row) * var(--margin-top-rows, 4)) auto 0 auto;
  overflow: hidden;
}
