.about-container {
  display: block;
  padding-top: 3vh;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 10vh;
}

.about-left {
  flex-basis: 50%;
}

.about-right {
  width: 75vh;
  margin-top: 2vh;
  font-size: 1.4vw !important;
  font-weight: 300 !important;
  line-height: 2vw !important;
}

.carrot {
  margin: auto;
  width: 5vh;
  height: 5vh;
  margin-bottom: 5vh;
}

.carrot:hover {
  cursor: pointer;
  color: #ffcc70;
  transform: scale(1.1);
}

.external-links {
  color: #f2c5fa;
  font-weight: 500;
}

.external-links:hover {
  cursor: pointer;
  background: #f4b7ff7f !important;
  border-radius: 0.2vw;
}
