.projects-container {
  display: block;
  padding-top: 3vh;
}

.title-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 5vh;
}

.title-left {
  flex-basis: 50%;
}

.title-right {
  display: flex;
  gap: 1vw;
  padding-bottom: 1vh;
  align-items: flex-end;
}

.filter-option {
  width: fit-content;
  font-size: 1.5vw;
  padding: 0.5vh 1vw;
  border-radius: 2vw;
  color: rgb(82, 82, 82) !important;
  background: linear-gradient(43deg, #bac5ff 0%, #ff8ef7 100%) !important;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border: none !important;
}

.filter-option:hover {
  color: white !important;
  transform: scale(1.1);
}

.filter-item {
  width: fit-content;
  font-size: 1.5vw;
  padding: 0.5vh 1vw;
  border-radius: 2vw;
  color: black !important;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 100%) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border: none !important;
}

.project-gallery {
  grid-gap: 0.75em;
  display: grid;
  grid-auto-rows: 23vw;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 10% 10%;
}

.project-gallery > .horizontal {
  grid-column: span 2;
  grid-row: span 1;
}

.project-gallery > .vertical {
  grid-column: span 2;
  grid-row: span 2;
}

.image-container {
  position: relative;
  background-color: black;
  border-radius: 5%;
}

.project-image {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.image-container:hover {
  transform: scale(1.05);
}

.image-container:hover .project-image {
  cursor: pointer;
  opacity: 0.5;
}

.img_description {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
}

.image-container:hover .img_description {
  visibility: visible;
}

.image-title {
  text-align: center;
  font-size: 2vw !important;
  font-weight: 300 !important;
  line-height: 2vw !important;
}
