@font-face {
  font-family: "Outfit";
  src: url(./Outfit-VariableFont_wght.ttf) format("truetype");
}

.layout-container {
  margin: 1vh 6vw;
  color: white;
  cursor: default;
}

html {
  background-color: #4158d0;
  background: linear-gradient(43deg, #4158d0 0%, #980c8f 46%, #da7a0b 100%);
  font-family: "Outfit" !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  background-attachment: fixed !important;
}

h1 {
  font-size: 8vw !important;
  font-weight: 900 !important;
  line-height: 8vw !important;
  margin-bottom: 2vw !important;
}

h2 {
  font-size: 6.5vw !important;
  font-weight: 900 !important;
  line-height: 7vw !important;
}

h3 {
  margin-top: 2vh !important;
  font-size: 3.5vw !important;
  font-weight: 700 !important;
  line-height: 3.5vw !important;
  margin-bottom: 2vh !important;
}

h4 {
  margin-top: 1vh !important;
  font-size: 2.5vw !important;
  font-weight: 500 !important;
  line-height: 2.5vw !important;
}
